
*{
    padding: 0;
    margin: 0;
}

nav{
   background: linear-gradient(145deg,rgb(60, 4, 50),rgb(136, 14, 89));
   color: white;
   height: 2.5rem;
   font-size: 1.3rem;
   padding: 0 1.2rem;
   display: flex;
   align-items: center;
}
nav li{
    list-style: none;
}
nav ul :hover{
    background: rgb(77, 45, 77);
    transform: scale(1.2,1);
    cursor: pointer;
    padding: 0.3rem;
    border:1px solid black;
    border-radius: 0.3em;
}
.game-container{
    display: flex;
    justify-content: center;

    margin-top: 2rem;
    padding: 1rem;
    gap: 4rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);

}
.boxes{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all 0.5s ease;
}
.boxes:hover{
    background-color:rgb(227, 202, 241) ;
    cursor:pointer
}



.info ,.winner{
    display: block;
    margin-top: 1.3rem;
    font-size: 1.5rem;
}

#reset{
    margin-block: 1.2rem;
    padding-inline: 1.2rem;
    font-size: x-large;

    border: 1px solid rgba(0,0,0,0.2); 
    border-radius: 8px;           
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    transition: all 0.5s ease; 

        /* margin-block: 20px;   /* vertical */
        /* margin-inline: 10px; /* horizontal */
    
    
}
#reset:hover{
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    
}
#reset:focus {
    outline: 3px solid #5b1639; /* bright outline for visibility */
    outline-offset: 2px;
}
.imagebox img{
    display: none;  
    height: 14rem;
}
/* for removing the border */
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bb-0{
    border-bottom: 0;
}
.bt-0{
    border-top: 0;
}